{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block content %}
<div class='bg-gray-800 text-white p-3 md:px-10 lg:px-20 xl:px-40 2xl:px-72'>
    <p style="font-family: Poppins-Bold" class='text-4xl font-extrabold py-5 text-center md:text-start'>Contact</p>

    {% if messages %}
    <div class="messages grid place-content-center">
        {% for message in messages %}
        <div{% if message.tags %} class="{{ message.tags }} bg-slate-700 py-3 px-5 mx-5 rounded-lg flex items-center justify-center text-sm md:text-base"{% endif %}>
            <p class=''><i class="fa-regular fa-bell"></i> {{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <form class='flex-col p-5' action="/contact" name="contactForm" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <div class='name'>
            <label for="name">Name</label><br>
            <input class='p-3 w-full my-2 bg-gray-900 border-slate-700 rounded-lg' type="text" id="name" placeholder="Your Name" name="name">
        </div>
        <div class='email'>
            <label for="email">Email</label><br>
            <input class='p-3 w-full my-2 bg-gray-900 border-slate-700 rounded-lg' type="text" id="email" placeholder="Your Email" name="email">
        </div>
        <div class='phone'>
            <label for="phone">Phone</label><br>
            <input class='p-3 w-full my-2 bg-gray-900 border-slate-700 rounded-lg' type="text" id="phone" placeholder="Your Phone Number" name="phone">
        </div>
        <div class='message'>
            <label for="message">Message</label><br>
            <textarea class='p-3 resize-none w-full h-72 my-2 bg-gray-900 border-slate-700 rounded-lg' placeholder="Message" name="message"></textarea>
        </div>
        <button type="submit" class='bg-blue-600 p-2 px-4 rounded-[6px] hover:bg-gray-800 hover:outline hover:outline-blue-600 transition delay-75 ease-in-out my-3'><i class="fa-regular fa-paper-plane"></i> Send</button>
    </form>
</div>

{% endblock %}